version: 1.0.{build}
image: Visual Studio 2017 Preview
clone_depth: 1
clone_folder: C:\work\
init:
- cmd: git config --global core.autocrlf false
environment:
  CYG_ROOT: C:\cygwin64
  CYG_SETUP: setup-x86_64.exe
install:
- cmd: >-

    curl -o setup-cygwin.exe https://www.cygwin.com/%CYG_SETUP%

    setup-cygwin.exe --quiet-mode --no-shortcuts --only-site -R "%CYG_ROOT%" -P gcc-g++,git,procps,libexpat,python,python-setuptools,cygwin32-gcc-g++

    dir %CYG_ROOT%
    dir %CYG_ROOT%\bin

    %CYG_ROOT%\bin\bash.exe -l -c "/usr/bin/easy_install-2.7 future"

build_script:
- cmd: >-
    git clone --depth=1 --branch=master https://github.com/ArduPilot/ardupilot.git C:\work\ardupilot\
    
    cd C:\work\ardupilot\
    
    mkdir c:\work\sitl
    
    cd c:\work
    
    %CYG_ROOT%\bin\bash.exe -l -c "chmod 755 /cygdrive/c/work/makesitl.sh"
    
    %CYG_ROOT%\bin\sh.exe /cygdrive/c/work/makesitl.sh
    
    cd c:\work\sitl
    
    7z a C:\work\sitl.zip *
test: off
artifacts:
- path: sitl.zip
  name: sitl
deploy_script:
- cmd: >-
    mkdir c:\%CYG_ROOT\home\media

    echo %sitlkey% > c:\%CYG_ROOT\home\media\sitlkey

    rem %CYG_ROOT%\bin\rsync -Pv -e '/usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i /home/media/sitlkey' *.elf michael@mega.ardupilot.org:MissionPlanner/sitl/


    rem %CYG_ROOT%\bin\rsync -Pv -e '/usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i /home/media/sitlkey' *.dll michael@mega.ardupilot.org:MissionPlanner/sitl/


    rem %CYG_ROOT%\bin\rsync -Pv -e '/usr/bin/ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i /home/media/sitlkey' *.txt michael@mega.ardupilot.org:MissionPlanner/sitl/
